# Rankings

Rank addresses by amount donated, and select top 1000 for whitelist. Ensure all are EOA addresses.

In [54]:
import pandas as pd
import numpy as np

txs_df = pd.read_csv('out/txs_df.csv')  # this is a multi GB file
txs_df["value"] = txs_df["value"].astype(np.float128)
# cast first column to string
txs_df.head()

/tmp/ipykernel_40703/1761539223.py:4: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  txs_df = pd.read_csv('out/txs_df.csv')  # this is a multi GB file

,net,blockNumber,timeStamp,hash,nonce,blockHash,transactionIndex,from,to,value,gas,gasPrice,isError,txreceipt_status,input,contractAddress,cumulativeGasUsed,gasUsed,confirmations,faucet
0,goerli,7284102,1658690895,0x919095150339346d2734cd676209ebbba885bfa9652a...,41613,0x2c935aeb41dee66f66bbc4a0948037f8f403b0f58fbb...,3,0x6cc9397c3b38739dacbfaa68ead5f5d77ba5f455,0x779b001208a3a4afade4f1c9e552118ab5fafd17,1.470938e+18,21000,1500000007,0,1.0,0x,NaN,206916,21000,4,0x6Cc9397c3B38739daCbfaA68EaD5F5D77Ba5F455
1,goerli,7284099,1658690850,0x196c535637c77d3d55c6e9dbc5624693172669956925...,41612,0x741f3a55e124e0a06331d445a564c6549c1155eb31c2...,9,0x6cc9397c3b38739dacbfaa68ead5f5d77ba5f455,0x04991be333c866f1446a1915334d668457a422ec,1.444625e+18,21000,1500000007,0,1.0,0x,NaN,4673327,21000,7,0x6Cc9397c3B38739daCbfaA68EaD5F5D77Ba5F455
2,goerli,7284094,1658690775,0x2efe3a377aae55b709a636c5cf962568f6086310cf93...,41611,0x22008ba50c6a2b1ce9d8db8822fdc96c69b6637306ee...,3,0x6cc9397c3b38739dacbfaa68ead5f5d77ba5f455,0xa5058fbcd09425e922e3e9e78d569ab84edb88eb,0.000000e+00,300000,1500000007,0,1.0,0x2e1a7d4d000000000000000000000000000000000000...,NaN,1467782,89319,12,0x6Cc9397c3B38739daCbfaA68EaD5F5D77Ba5F455
3,goerli,7284094,1658690775,0x36e5d177e08f8015f1bd68cd1ddc16166d042ac1b0c7...,41610,0x22008ba50c6a2b1ce9d8db8822fdc96c69b6637306ee...,2,0x6cc9397c3b38739dacbfaa68ead5f5d77ba5f455,0xfb2de7049083003c4bbfffdea04a4debdf6732af,2.000000e+18,21000,1500000007,0,1.0,0x,NaN,1378463,21000,12,0x6Cc9397c3B38739daCbfaA68EaD5F5D77Ba5F455
4,goerli,7284078,1658690535,0xd96cc6a80e21951ca3d6b5e5591cee869f2359617178...,41609,0x2b64339361fe487753895b231904fcedfc13b9b3d175...,10,0x6cc9397c3b38739dacbfaa68ead5f5d77ba5f455,0xd4b3d8710f1b207162a29d2975fa2ee22e2d379f,3.079688e+17,21000,1500000007,0,1.0,0x,NaN,3691399,21000,28,0x6Cc9397c3B38739daCbfaA68EaD5F5D77Ba5F455

In [55]:


# let's rank the people that have contributed to this faucet
addresses = {}
for idx, tx in txs_df.iterrows():
    a_from = tx["from"]
    if a_from not in addresses:
        addresses[a_from] = 0

    value = tx["value"] / 10**18
    addresses[a_from] += value
# turn into df and order by . The first column is a string, the second is a float
addresses_df = pd.DataFrame.from_dict({'address': list(addresses.keys()), 'value': list(addresses.values())})
addresses_df = addresses_df.sort_values(by="value", ascending=False)
addresses_df.head()

                                          address         value
2607   0x1bdae8d8c66badc1d02fe9f58e1586fb00d21b87  1.500000e+08
18990  0x31b98d14007bdee637298086988a0bbd31184523  7.376663e+07
2521   0x9c71fbe2d28080b8afa88cea8a1e319de2c09d44  5.004519e+07
47     0x8c1e1e5b47980d214965f3bd8ea34c413e120ae4  1.434856e+07
1859   0x1464d4e3c815de3028572b850c6c34dfc57e9320  1.087376e+07

In [51]:
# save to csv
addresses_df.to_csv("out/addresses_ranked_df.csv")

In [53]:
# load the csv
addresses_df = pd.read_csv("out/addresses_ranked_df.csv")
addresses_df.head()

,Unnamed: 0,0x1bdae8d8c66badc1d02fe9f58e1586fb00d21b87,0x31b98d14007bdee637298086988a0bbd31184523,0x9c71fbe2d28080b8afa88cea8a1e319de2c09d44,0x8c1e1e5b47980d214965f3bd8ea34c413e120ae4,0x1464d4e3c815de3028572b850c6c34dfc57e9320,0xf8561dc64e577b0cf53dd3fc11329e80b1a8343e,0x15f975952471083794791f0e0c819e6594bc5345,0xe0a2bd4258d2768837baa26a28fe71dc079f84c7,0x78c115f1c8b7d0804fbdf3cf7995b030c512ee78,...,0x156d865bfc419bc1a0bf93f72874b608c0f5d9d9,0xa66622b9dbe736d800a9c604ee195840aedf7027,0x8b44dc4e4ef7d6c770b1a487475066f989a8f9f4,0x40e0400b4153fd776dfc30fe42715b8374f44162,0x091e633151909b4c54191bf8d563b69815be6247,0xeb29febd4bb8d5f5d275934d67641b8a87f6629a,0x76be6a2e91e57cd247b539ee6ffdf870d30d7689,0x4228071208ec181b23a333c33fad9df563bbd6d1,0xa1a5687b49a7fa0decfb7016063302ba08701201,0x0f81377675987dd50e019770ec88eaeba937901b
0,value,150000000.0,73766626.75,5.004519e+07,14348560.75,1.087376e+07,5348000.0,2161000.0,1.513927e+06,1057271.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
import web3
import json
import os
import requests

# load ../secrets.json
with open("../secrets.json") as f:
    secrets = json.load(f)

alchemy_https = secrets["alchemy_https"]
etherscan_key = secrets["etherscan_key"]

# init web3
web3 = web3.Web3(web3.HTTPProvider(alchemy_https))


def get_first_10k_transactions(
    address, net='mainnet', startblock=0, endblock=999999999, print_url=False
):
    """
    Get all transactions for an address

    """
    params = {
        "module": "account",
        "action": "txlist",
        "address": address,
        "startblock": startblock,
        "endblock": endblock,
        "sort": "desc",
        "apikey": etherscan_key,
    }
    headers = {"User-Agent": "Chrome/41.0.2228.0"}

    subdomain = "api"
    url = "https://api.etherscan.io/api"
    if net != "mainnet":
        subdomain = subdomain + "-" + net
    url = f"https://{subdomain}.etherscan.io/api"

    if print_url:
        print(url + "?" + "&".join("{}={}".format(k, v) for k, v in params.items()))
    response = requests.get(url, params=params, headers=headers)
    if response.status_code == 200:
        data = response.json()
        if data["status"] == "0":
            pass
            # print(f"Error: {data}")
        else:
            return data["result"]
    else:
        print("Error:", response.status_code)
        # print(response.text)
        return None


def is_EOA(address):
    address = web3.toChecksumAddress(address)
    code = web3.eth.getCode(address)
    # if the address contains ANY code, it's a smart contract (not an EOA)
    if code != b'':
        print(code)
        return False

    # if the address contains NO code, it could be an EOA. But let's check that it has 
    # at least one transaction
    transactions = get_first_10k_transactions(address)
    if transactions is None:
        return False
    if len(transactions) == 0:
        return False
    return True

In [39]:
addresses_df

                                                   value
0x1bdae8d8c66badc1d02fe9f58e1586fb00d21b87  1.500000e+08
0x31b98d14007bdee637298086988a0bbd31184523  7.376663e+07
0x9c71fbe2d28080b8afa88cea8a1e319de2c09d44  5.004519e+07
0x8c1e1e5b47980d214965f3bd8ea34c413e120ae4  1.434856e+07
0x1464d4e3c815de3028572b850c6c34dfc57e9320  1.087376e+07
...                                                  ...
0xeb29febd4bb8d5f5d275934d67641b8a87f6629a  0.000000e+00
0x76be6a2e91e57cd247b539ee6ffdf870d30d7689  0.000000e+00
0x4228071208ec181b23a333c33fad9df563bbd6d1  0.000000e+00
0xa1a5687b49a7fa0decfb7016063302ba08701201  0.000000e+00
0x0f81377675987dd50e019770ec88eaeba937901b  0.000000e+00

[21293 rows x 1 columns]

In [63]:
import time

# make a list of the top 1000 addresses that are EOAs
addresses_EOA = []
addresses_checked = 0
for idx, row in addresses_df.iterrows():
    address = row[0]
    if is_EOA(address):
        addresses_EOA.append(address)
    if len(addresses_EOA) == 1000:
        break
    addresses_checked += 1
    if addresses_checked % 10 == 0:
        print(addresses_checked, len(addresses_EOA), idx)
    time.sleep(0.5)

18990 1 2
2520 3 10
2140 3 12
0 4 14
50 5 19
2680 5 24
2320 6 27
21020 8 32
2630 12 37
20150 16 50
20110 23 63
19810 25 66
2710 26 69
20420 27 70
2380 36 85
20000 40 95
2340 49 113
20260 50 116
19060 54 123
2650 57 137
20310 63 148
19760 74 167
19680 74 170
20250 89 198
20220 91 201
20200 92 204
20290 98 220
20380 100 229
20320 101 238
20130 106 247
19940 109 253
19980 118 272
20070 118 274
20060 125 288
20050 126 289
19960 133 297
2530 133 300
20930 137 322
19570 146 357
2270 158 383
20900 160 388
2240 172 425
19460 172 427
2820 176 441
2910 177 443
21280 177 449
2600 177 451
2400 177 452
20890 184 471
1900 188 486
20360 190 491
3140 190 493
19950 191 496
20270 191 497
2540 191 498
3000 197 527
2590 201 535
3080 205 551
2860 206 556
2890 207 565
3070 209 584
3180 210 587
1880 211 595
3030 211 602
2980 211 605
3130 211 608
2190 219 630
19970 219 634
19860 219 636
20120 221 653
19930 223 657
19920 224 660
20170 226 673
19820 228 681
20240 232 699
2940 233 706
3060 239 724
2180 239 725
9840 246 749
19910 248 754
20080 257 776
20090 263 791
20100 271 807
20300 273 812
20230 283 849
20180 283 850
20190 289 865
20210 296 881
20280 298 884
20160 306 910
19590 314 930
19580 317 938
19740 318 946
19720 320 952
19560 328 967
19780 329 974
19770 330 979
19790 331 981
19750 337 996
19610 344 1016
19650 346 1018
19640 349 1030
19630 349 1031
19620 349 1032
19700 352 1058
19710 357 1067
19670 359 1075
19600 361 1081
19800 365 1089
19990 370 1099
20010 376 1131
20040 389 1149
20020 392 1157
20030 397 1163
19840 404 1175
19900 419 1217
19870 424 1233
19890 424 1241
19880 425 1242
21050 428 1251
20450 429 1254
20440 430 1261
19480 431 1269
20430 431 1271
21270 436 1291
21260 440 1305
2920 443 1311
20370 448 1328
19070 449 1331
21150 449 1334
20350 452 1344
20410 455 1352
20400 461 1363
21060 462 1365
20390 463 1373
14010 468 1379
21200 469 1380
21130 469 1382
19080 471 1395
2990 472 1401
21170 474 1415
21030 477 1432
2300 481 1443
1910 485 1461
21160 485 1466
21040 485 1467
21190 500 1509
2360 500 1510
19260 502 1517
19550 504 1519
2720 504 1523
21180 505 1524
2330 508 1532
20940 515 1549
21080 526 1579
21110 529 1583
2200 530 1584
2210 536 1596
21070 539 1600
21090 553 1625
2150 553 1627
21100 559 1643
2170 560 1646
21140 566 1665
2220 570 1677
2290 577 1687
2230 587 1708
2250 600 1736
18910 605 1749
3100 605 1752
18920 607 1755
3120 608 1760
21250 609 1773
21220 617 1791
19540 618 1793
19530 621 1806
3150 622 1815
21230 622 1816
3160 623 1823
3040 626 1831
2950 629 1848
2880 635 1870
2960 635 1875
3010 639 1883
2970 642 1907
21210 647 1933
19400 647 1934
19470 649 1936
19430 652 1945
19410 653 1950
2390 654 1952
19440 655 1953
19500 665 1998
19420 668 2008
19510 668 2009
2760 672 2024
19490 673 2031
2790 676 2046
1870 678 2049
20790 680 2064
40 680 2065
19390 685 2080
2840 692 2103
2850 692 2105
19520 693 2106
2830 693 2112
2870 693 2113
2030 695 2125
20340 699 2135
1890 699 2144
2640 700 2160
3170 703 2175
2160 707 2200
19370 709 2211
3050 710 2218
2280 714 2236
1980 717 2248
1960 718 2251
19050 719 2259
2090 722 2266
2750 725 2275
19380 729 2291
2780 730 2301
2610 731 2305
21240 732 2309
21120 733 2310
2370 734 2314
2810 735 2315
2620 735 2317
1950 735 2321
19330 735 2329
19040 735 2331
1930 735 2345
1990 741 2373
3190 741 2374
19350 742 2377
3090 745 2386
2130 746 2395
2010 748 2421
2050 748 2423
1940 749 2431
2110 751 2436
20330 756 2459
20830 757 2482
19150 758 2484
3020 759 2487
19100 760 2488
19830 765 2505
20140 766 2511
2000 767 2513
2020 774 2540
2040 774 2542
2060 776 2549
2690 778 2563
2700 778 2568
2670 779 2574
1920 780 2577
21290 783 2588
5230 783 2592
30 783 2593
2100 786 2604
2660 790 2632
1850 790 2639
3200 791 2641
2260 795 2660
21010 800 2671
20950 800 2682
20960 800 2692
20970 800 2702
20980 800 2712
20990 800 2721
10 801 2743
2570 801 2744
19690 803 2753
2770 807 2779
2560 807 2781
2120 809 2787

In [ ]:
# save to csv
addresses_EOA_df = pd.DataFrame.from_dict({'address': addresses_EOA})

In [61]:
addresses_EOA

['0x31b98d14007bdee637298086988a0bbd31184523',
 '0x1464d4e3c815de3028572b850c6c34dfc57e9320',
 '0x15f975952471083794791f0e0c819e6594bc5345',
 '0x10f5d45854e038071485ac9e402308cf80d2d2fe',
 '0x9d525e28fe5830ee92d7aa799c4d21590567b595',
 '0x8ced5ad0d8da4ec211c17355ed3dbfec4cf0e5b9',
 '0xd8ea779b8ffc1096ca422d40588c4c0641709890',
 '0xa303ddc620aa7d1390baccc8a495508b183fab59',
 '0xaed01c776d98303ee080d25a21f0a42d94a86d9c',
 '0x332e43696a505ef45b9319973785f837ce5267b9']

In [45]:
addresses_df

                                                   value
0x1bdae8d8c66badc1d02fe9f58e1586fb00d21b87  1.500000e+08
0x31b98d14007bdee637298086988a0bbd31184523  7.376663e+07
0x9c71fbe2d28080b8afa88cea8a1e319de2c09d44  5.004519e+07
0x8c1e1e5b47980d214965f3bd8ea34c413e120ae4  1.434856e+07
0x1464d4e3c815de3028572b850c6c34dfc57e9320  1.087376e+07
...                                                  ...
0xeb29febd4bb8d5f5d275934d67641b8a87f6629a  0.000000e+00
0x76be6a2e91e57cd247b539ee6ffdf870d30d7689  0.000000e+00
0x4228071208ec181b23a333c33fad9df563bbd6d1  0.000000e+00
0xa1a5687b49a7fa0decfb7016063302ba08701201  0.000000e+00
0x0f81377675987dd50e019770ec88eaeba937901b  0.000000e+00

[21293 rows x 1 columns]